---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/unknown?api_key=<api_key>&query=example
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS
      X-Memc-Key:
      - 443bcb61193fad42fb4246b2c09a8afd
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '27880'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Wed, 21 Jun 2023 14:19:25 GMT
recorded_with: VCR 6.1.0
